% my $channel = $_[0]->{handler}->args->[0];
% my $mxhr = $_[0]->{handler}->request->param('mxhr');
<?xml version="1.0" enoding="UTF-8" ?>
<html>
<head>
<title>Channel:<%= $channel %> - FireCracker</title>
<script src="/static/jquery-1.3.2.min.js"></script>
% if ($mxhr) {
<script src="/static/DUI.js"></script>
<script src="/static/Stream.js"></script>
% } else {
<script src="/static/jquery.ev.js"></script>
% }
<script src="/static/jquery.md5.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script src="/static/jquery.oembed.js"></script>
<script src="/static/pretty.js"></script>

<script>
var cookieName = 'firecracker_chat_ident';
function doPost(el1, el) {
    var ident = el1.attr('value');
    if (ident) $.cookie(cookieName, ident, { path: '/chat' });
    var text = el.attr('value');
    if (!text) return;
    $.ajax({
        url: "/chat/<%= $channel %>/post",
        data: { ident: ident, text: text },
        type: 'post',
        dataType: 'json',
        success: function(r) { }
    });
    el.attr('value', '');
    return;
}

$(function(){
    var onNewEvent = function(e) {
        try {
            var src    = e.avatar || ("http://www.gravatar.com/avatar/" + $.md5(e.ident || 'foo'));
            if ( e.ident ) {
                if ( e.ident.match(/^@/) ) {
                    var m = e.ident.match(/^@(.+)$/);
                    e.name = m[1];
                    src = "http://api.twitter.com/1/users/profile_image/"+ e.name;
                }
            }
            var name   = e.name   || e.ident || 'Anonymous';
            var avatar = $('<img/>').attr('src', src).attr('alt', name);
            if (e.ident) {
                var link;
                if ( e.ident.match(/^@/) ) {
                    link = 'http://twitter.com/' + name;
                }
                else {
                    link = e.ident.match(/https?:/) ? e.ident : 'mailto:' + e.ident;
                }
                avatar = $('<a/>').attr('href', link).attr('target', '_blank').append(avatar);
            }
            avatar = $('<td/>').addClass('avatar').append(avatar);

            var message = $('<td/>').addClass('chat-message');
            if (e.text) message.text(e.text);
            if (e.html) message.html(e.html);

            message.find('a').oembed(null, { embedMethod: "append", maxWidth: 500 });
            var name = e.name || (e.ident ? e.ident.split('@')[0] : null);
            if (name)
                message.prepend($('<span/>').addClass('name').text(name+ ': '));

            var date = new Date(e.time * 1000);
            var meta = $('<td/>').addClass('meta').append(
                '(' +
                '<span class="pretty-time" title="' + date.toUTCString() + '">' + date.toDateString() + '</span>' +
                ' from ' + e.address + ')'
            );
            $('.pretty-time', meta).prettyDate();

            if ( e.ident != 'system'  ) {
                $('#messages').prepend($('<tr/>').addClass('message').append(avatar).append(message).append(meta));
            }
            
            if(e.html.match(/p\.[0-9]{1,}/)){
                var page = e.html.split(".")[1];
                flashMovie.jumpTo(page);
                //updateSlideNumber();
            }
            if ( e.html.match( /^doc=(.+),title=(.+),author=(.+),description=(.+)$/ ) ) {
                var m = e.html.match( /^doc=(.+),title=(.+),author=(.+),description=(.+)$/ );
                loadPlayer( m[1] );
                $('#slide_title').text( m[2] );
                $('#slide_author').text( m[3] );
                $('#slide_description').text( m[4] );
            }

        } catch(e) { if (console) console.log(e) };
    }

    if (typeof DUI != 'undefined') {
        var s = new DUI.Stream();
        s.listen('application/json', function(payload) {
            var event = eval('(' + payload + ')');
            onNewEvent(event);
        });
        s.load('/chat/<%= $channel %>/mxhrpoll');
    } else {
        $.ev.handlers.message = onNewEvent;
        $.ev.loop('/chat/<%= $channel %>/poll?client_id=' + Math.random());
    }

    if ($.cookie(cookieName))
        $('#ident').attr('value', $.cookie(cookieName));

    window.setInterval(function(){ $(".pretty-time").prettyDate() }, 1000 * 30);
});
</script>

<script type="text/javascript" src="/static/swfobject.js"></script>    

<script type="text/javascript">
var flashMovie;

//Load the flash player. Properties for the player can be changed here.
function loadPlayer( doc ) {
    //clear old flash-player objects
    $('#player').html('');

    //allowScriptAccess from other domains
    var params = { allowScriptAccess: "always" };
    var atts = { id: "player" };

    if ( ! doc ) {
        doc = "thirst-upload-800x600-1215534320518707-8";
    }

    //doc: The path of the file to be used
    //startSlide: The number of the slide to start from
    //rel: Whether to show a screen with related slideshows at the end or not. 0 means false and 1 is true..
    var flashvars = { doc : doc, startSlide : 1, rel : 0 };

    //Generate the embed SWF file
    swfobject.embedSWF("http://static.slidesharecdn.com/swf/ssplayer2.swf", "player", "800", "600", "8", null, flashvars, params, atts);

    //Get a reference to the player
    flashMovie = document.getElementById("player");
}

//Jump to the appropriate slide
function jumpTo(){
    flashMovie.jumpTo(parseInt(document.getElementById("slidenumber").value));
}

//Update the slide number in the field for the same
function updateSlideNumber(){
    document.getElementById("slidenumber").value = flashMovie.getCurrentSlide();
    $('#ident').val('system');
    $('#chat').val('p.' + flashMovie.getCurrentSlide());
    doPost($('#ident'), $('#chat'));
}

//Load new slide
function loadSlide ( chn, url ) {
    if ( url ) {
        $('#scraper').hide();
        $('#loading').show();
        $.ajax( {
            url: "/chat/" + chn + "/slide",
            data: { url: url },
            type: 'post',
            dataType: 'json',
            success: function(r) { 
                $('#loading').hide();
                $('#scraper').show();
            },
            error: function(r) {
                alert( 'error when loading' );
                $('#loading').hide();
                $('#scraper').show();
            }
        } );
    }
    else {
        alert('Slide-URL is empty...');
    }
}
</script>

<link rel="stylesheet" href="/static/screen.css" />
<link rel="stylesheet" href="/static/main.css" />
</head>

<body onload="loadPlayer();">

<table>
    <tr>
        <td id="left" style="width:800px;vertical-align:top;">
            <h1 id="title_container"><span id="slide_title">title</span> <address id="slide_author">author</address></h1>
            <h3 id="slide_description">description</h3>
            <div id="player">
                You need Flash player 8+ and JavaScript enabled to view this video.
            </div>
            <div style="margin-left: 150px; margin-top: 10px;">
                <button onclick="flashMovie.first();updateSlideNumber();" type="button" value="First">First</button>
                <button onclick="flashMovie.previous();updateSlideNumber();" type="button" value="Previous">Previous</button>
                <button onclick="flashMovie.next();updateSlideNumber();" type="button" value="Next">Next</button>
                <button onclick="flashMovie.last();updateSlideNumber();" type="button" value="Last">Last</button>
                <button onclick="jumpTo();updateSlideNumber();" type="button" value="Go to">Go to</button>
                <input class="floating" style="margin-right:10px;" type="text" id="slidenumber" size="2" value="1" onkeydown="if (event.keyCode == 13) { jumpTo(); }"/>
                <br>
            </div>
            <div id="scraper" style="clear: both;">
                Your Slides URL on SlideShare: <input style="width:400px;" type="text" id="slideurl" name="slideurl" />
                <input id="slide_load_button" type="button" value="Load" onclick="loadSlide('<%= $channel %>', $('#slideurl').val());">
            </div>
            <div id="loading" style="clear: both; display: none;"> Just a moment, please ... </div>
        </td>
    
        <td id="right">
            <h1 class="chat-room-name">Channel: <%= $channel %></h1>
            <!-- move this input out of form so Firefox can submit with enter key :/ -->
            <div id="chat_form_container">
                Your email (for Gravatar) or Twitter account(with"@"): <input id="ident" type="text" name="ident" size="24"/>
                <form onsubmit="doPost($('#ident'), $('#chat')); return false">
                    Something to say: <input id="chat" type="text" size="48"/>
                </form>
            </div>
            <div id="messages_container">
                <table id="messages"> </table>
            </div>
        </td>
    </tr>
</table>

<%= $_mt->render_file( 'footer.html' ); %>

</body>
</html>
